<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertisseur d'unités</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/static/logo.png" alt="logo">
        <a href="/" class="logo-link"></a>
        </div>
    </header>

    <div class="menu">
        <h2>Convertissez vos unités :</h2>
        <form class="contactform" method="post" action="/contact">
            <h2>Convertir les Kilomètres en Miles</h2>
            <label>Combien de Kilomètres voulez vous convertir ?</label>
            <input type="text" name="kilometers" required>
            <button type="submit">Envoyer</button>
        </form>
    </div>


</body>

</html>