<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertisseur d'unités by Harold</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
    </header>

    <h2 class="page-title">Convertissez vos unités :</h2>

    <div class="section-calc">
        <form class="convertisseur" method="post" action="/kilometers2miles">
            <h2>Kilomètres en Miles</h2>
            <p>Combien de Kilomètres voulez-vous convertir ?</p>
            <input type="text" name="kilometers" placeholder="Ex: 10" required>
            <button type="submit">Convertir</button>

            {{if ne .Erreur1 ""}}<div class="erreur">{{.Erreur1}}</div>{{end}}
            {{if .Resultat1}}<div class="resultat">{{.Entree1}} km = {{.Resultat1}} miles</div>{{end}}
        </form>
    </div>

    <div class="section-calc">
        <form class="convertisseur" method="post" action="/kilograms2pounds">
            <h2>Kilogrammes en Pounds</h2>
            <p>Combien de Kilogrammes voulez-vous convertir ?</p>
            <input type="text" name="kilograms" placeholder="Ex: 5" required>
            <button type="submit">Convertir</button>

            {{if ne .Erreur2 ""}}<div class="erreur">{{.Erreur2}}</div>{{end}}
            {{if .Resultat2}}<div class="resultat">{{.Entree2}} kg = {{.Resultat2}} lbs</div>{{end}}
        </form>
    </div>

    <div class="section-calc">
        <form class="convertisseur" method="post" action="/celsiustofahrenheit">
            <h2>Celsius en Fahrenheit</h2>
            <p>Combien de degrés Celsius voulez-vous convertir ?</p>
            <input type="text" name="degresc" placeholder="Ex: 20" required>
            <button type="submit">Convertir</button>

            {{if ne .Erreur3 ""}}<div class="erreur">{{.Erreur3}}</div>{{end}}
            {{if .Resultat3}}<div class="resultat">{{.Entree3}} °C = {{.Resultat3}} °F</div>{{end}}
        </form>
    </div>

</body>

</html>